# Build artifacts
release/
debug/
deploy/
Makefile
Makefile.Debug
Makefile.Release
object_script.*.Release
object_script.*.Debug
make_output.txt
.qmake.stash
*.user
*.exe

# Object files
*.o
*.obj

# Logs and temp
build_log.txt
windeployqt_help.txt

